<section id="stack">
  <div class="circleProgressContainer">
    <h2>Linguagens de Programação</h2>
    <div class="circleProgressGroup">
      <app-circle-progress-model
        [outRadioColor]="'#034159'"
        [inRadioColor]="'#0CF25D'"
        [title]="'HTML'"
        [percent]="76"
      ></app-circle-progress-model>

      <app-circle-progress-model
        [outRadioColor]="'#025951'"
        [inRadioColor]="'#0CF25D'"
        [title]="'CSS'"
        [percent]="60"
      ></app-circle-progress-model>

      <app-circle-progress-model
        [outRadioColor]="'#02735E'"
        [inRadioColor]="'#0CF25D'"
        [title]="'JavaScript'"
        [percent]="43"
      ></app-circle-progress-model>

      <app-circle-progress-model
        [outRadioColor]="'#038C3E'"
        [inRadioColor]="'#0CF25D'"
        [title]="'C#'"
        [percent]="60"
      ></app-circle-progress-model>

      <app-circle-progress-model
        [outRadioColor]="'#0CF25D'"
        [inRadioColor]="'#0CF25D'"
        [title]="'SQL'"
        [percent]="75"
      ></app-circle-progress-model>
    </div>

    <br /><br />

    <h2>Frameworks</h2>
    <div class="circleProgressGroup">
      <app-circle-progress-model
        [outRadioColor]="'#76C4A0'"
        [inRadioColor]="'#0CF25D'"
        [title]="'.Net Framework 5.0'"
        [percent]="55"
      ></app-circle-progress-model>

      <app-circle-progress-model
        [outRadioColor]="'#A66290'"
        [inRadioColor]="'#0CF25D'"
        [title]="'Angular 14'"
        [percent]="31"
      ></app-circle-progress-model>
    </div>
  </div>
</section>
